[submodule "12_foundry_signature/lib/forge-std"]
	path = 12_foundry_signature/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "12_foundry_signature/lib/openzeppelin-contracts"]
	path = 12_foundry_signature/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts

[submodule "14_permit2AndCreate2/lib/forge-std"]
	path = 14_permit2AndCreate2/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "14_permit2AndCreate2/lib/openzeppelin-contracts"]
	path = 14_permit2AndCreate2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "14_permit2AndCreate2/lib/permit2"]
	path = 14_permit2AndCreate2/lib/permit2
	url = https://github.com/Uniswap/permit2
[submodule "14_permit2AndCreate2/lib/clone-factory"]
	path = 14_permit2AndCreate2/lib/clone-factory
	url = https://github.com/optionality/clone-factory
[submodule "14_permit2AndCreate2/lib/openzeppelin-foundry-upgrades"]
	path = 14_permit2AndCreate2/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
[submodule "14_permit2AndCreate2/lib/openzeppelin-contracts-upgradeable"]
	path = 14_permit2AndCreate2/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "17_offchainSignList/contracts/lib/forge-std"]
	path = 17_offchainSignList/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "17_offchainSignList/contracts/lib/openzeppelin-contracts"]
	path = 17_offchainSignList/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "18_IDOAndStake/lib/forge-std"]
	path = 18_IDOAndStake/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "18_IDOAndStake/lib/openzeppelin-contracts"]
	path = 18_IDOAndStake/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "19_storageSlot/contracts/lib/forge-std"]
	path = 19_storageSlot/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "21_OptimizeGas/contracts/lib/forge-std"]
	path = 21_OptimizeGas/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "21_OptimizeGas/contracts/lib/openzeppelin-contracts"]
	path = 21_OptimizeGas/contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "20_UpgradeProxy/lib/forge-std"]
	path = 20_UpgradeProxy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "20_UpgradeProxy/lib/openzeppelin-contracts"]
	path = 20_UpgradeProxy/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "20_UpgradeProxy/lib/openzeppelin-contracts-upgradeable"]
	path = 20_UpgradeProxy/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "22_automationExecute/lib/forge-std"]
	path = 22_automationExecute/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "22_automationExecute/lib/openzeppelin-contracts"]
	path = 22_automationExecute/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "23_uniswapAMM/lib/v2-core"]
	path = 23_uniswapAMM/lib/v2-core
	url = https://github.com/Uniswap/v2-core
[submodule "23_uniswapAMM/lib/openzeppelin-contracts"]
	path = 23_uniswapAMM/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
