[submodule "foundry_1/lib/forge-std"]
	path = foundry_1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry_1/lib/openzeppelin-contracts"]
	path = foundry_1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "12_foundry_signature/lib/forge-std"]
	path = 12_foundry_signature/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "12_foundry_signature/lib/openzeppelin-contracts"]
	path = 12_foundry_signature/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts

[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
